.input {
  font-size: 17px;
  font-weight: 400;
  color: var(--text);
  border: 1px solid rgb(238, 238, 238);
  border-radius: 10px;
  box-shadow: 15px 20px 45px 0px rgba(233, 233, 233, 0.25);
  padding: 22px;
}

.input-title {
  font-size: 32px;
}

.invalid {
}
