.head {
  display: flex;
  justify-content: space-between;
  &:not(:last-child) {
    padding-bottom: 30px;
  }
}

.menu_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 15px;
}
